body {
    margin: 0;
    font-family: Times, serif;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6, .navbar {
    font-family: Helvetica, sans-serif;
    font-variant: small-caps;
}

.container-fluid {
    width: 60em;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.vl {
    border-left: thin solid black;
    border-right: thin solid black;
}