form {
    display: flex;
    flex-flow: row wrap;
}

form .item {
    width: 45%;
    margin: 0 1rem;
}

.container-fluid {
    width: 65rem;
    padding: 1rem;
    margin: 0;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 1em 1em rgba(150, 150, 150, 0.1);
}

.title-card {
    width: 65rem;
    margin: 10rem auto;
    text-align: center;
}

.title-card span {
    padding-right: 5rem;
}

.samples {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.samples div {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    padding: 0.5rem;
    margin: 0.3rem;
    background: rgba(94, 104, 138, 0.3);
    width: 15rem;
    height: 8rem;
}

.samples a {
    margin: 0 auto;
}

.samples span {
    text-align: center;
}

ul.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.navigation img {
    width: 8rem;
    height: auto;
    padding: 1rem;
}

ul.navigation li a {
    display: block;
    padding: 0.5rem 1rem;
    margin: 0.8rem 0;
    text-decoration: none;
    text-align: right;
    color: #cfcfcf;
    background: hsl(9, 33%, 38%);
    width: 8rem;
    
    transition: background 0.2s ease;
}

ul.navigation li a:hover {
    background: hsl(9, 33%, 36%);
}

#trainingset {
    margin-bottom: 1rem;
}

.input-group input {
    background: #5E688A;
    color: #cfcfcf;
    border: none;
}

.input-group label {
    background: #cfcfcf;
}

@media (max-width: 80rem),
handheld {
    .container-fluid {
        width: 90%;
        margin: auto;
    }

    .title-card {
        width: 90%;
    }

    article {
        flex-flow: column nowrap;
    }

    ul.navigation {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    ul.navigation li a {
        display: inline-table;
        text-align: center;
        background: #4C577D;
    }

    ul.navigation li a:hover,
    ul.navigation li a:focus {
        background: hsl(227, 24%, 43%);
    }

    form .item {
        width: 40%;
    }
}
