form .item {
    width: 45%;
    margin: 0 1rem;
}


.container-fluid {
    margin: 2rem auto;
    padding: 1rem;
    width: 60rem;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 1em 1em rgba(150, 150, 150, 0.1);
}

.title-card {
    width: 60rem;
    margin: 10rem auto;
    text-align: center;
}

.title-card small {
    padding-right: 5rem;
}

.samples {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.samples div {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    padding: 0.5rem;
    margin: 0.3rem;
    background: rgba(94, 104, 138, 0.3);
    width: 15rem;
    height: 8rem;
}

.samples a {
    margin: 0 auto;
}

ul.navigation {
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0;
}

ul.navigation img {
    width: 8rem;
    padding: 1rem;
}

ul.navigation li a {
    display: block;
    padding: 0.5rem 1rem;
    margin: 1em 0;
    text-decoration: none;
    color: #cfcfcf;
    background: #824c42;
    width: 8rem;
    
    transition: opacity 0.2s ease;
}

ul.navigation li a:hover {
    opacity: 0.9;
}

.button {
    display: inline-block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: #ccc;
    border: none;
    border-radius: 4px;

    transition: all 0.1s linear;
}

.button-default {
    background: #6f9041;
    box-shadow: 5px 5px #597730;
}

.button-primary {
    background: #43948D;
    box-shadow: 5px 5px #386A7B;
}

.button-danger {
    background: #993232;
    box-shadow: 5px 5px #742525;
}

.button:hover {
    text-decoration: none;
    color: #ccc;

    transform: translate(2px, 2px);
}

.button-default:hover {
    box-shadow: 3px 3px #597730;
}

.button-primary:hover {
    box-shadow: 3px 3px #386A7B;
}

.button-danger:hover {
    box-shadow: 3px 3px #742525;
}

.button:active {
    box-shadow: 1px 1px #597730;

    transform: translate(4px, 4px);
}

.title-card {
    width: 60rem;
    margin: 10rem auto;
    text-align: center;
}

.title-card small {
    padding-right: 5rem;
}

.samples {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.samples div {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    padding: 0.5rem;
    margin: 0.3rem;
    background: rgba(94, 104, 138, 0.3);
    width: 15rem;
    height: 8rem;
}

.samples a {
    margin: 0 auto;
}

ul.navigation {
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0;
}

ul.navigation img {
    width: 8rem;
    padding: 1rem;
}

ul.navigation li a {
    display: block;
    padding: 0.5rem 1rem;
    margin: 1em 0;
    text-decoration: none;
    color: #cfcfcf;
    background: #824c42;
    width: 8rem;
    
    transition: opacity 0.2s ease;
}

ul.navigation li a:hover {
    opacity: 0.9;
}

#trainingset {
    margin-bottom: 1rem;
}

.input-group input {
    background: #5E688A;
    color: #cfcfcf;
    border: none;
}

input:placeholder-shown {
    color: #dfdfdf;
}

.input-group label {
    background: #cfcfcf;
}

section:nth-of-type(1) {
    padding-top: 0;
}

section img {
    float: right;
    margin-left: 2rem;
}

section p {
    text-align: justify;
}

section:nth-of-type(even) img {
    float: left;
    margin-left: 0;
    margin-right: 2rem;
}

@keyframes bobbing {
    0%     {transform: translate(0, 0);}
    50%    {transform: translate(0, -1rem);}
    100%   {transform: translate(0, 0);}
}

#icon:hover {
    animation-name: bobbing;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}