<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% if title %}
        {{ title }}
        {% else %}
        GenSET Testing Site
        {% endif %}
    </title>
    
    {% include "_head.html" %}
    {% block extra_headers %}{% endblock %}
</head>
<body>

    {% include "_nav.html" %}
    
    {% include "_flash.html" %}
    {% block content %}{% endblock %}
    
    <script>
    /* global $ */
    $(function() {
        $("#{{ request.endpoint }}").addClass('active');
    });
    </script>
</body>
</html>