{% extends "base.html" %}

{% block content %}
<div>
    <div class="title-card">
        <h1>GenSET</h1>
        <span>Subtitle goes here.</span>
        <a href="{{ url_for('experiment') }}" class="button button-default">
            Try it out!
        </a>
    </div>

    <div class="container-fluid">
        <section>
            <h2>About the Project</h1>

            <p>
                <img src="http://via.placeholder.com/300x300">

                By using family specific prediction methods, we are able to
                improve effector predictions with other published programs.
                This approach can be applied to predict effectors of other
                secretion systems as long as these effectors have translocation
                signals embedded in their sequences.
            </p>

            <p>
                This site was created in order to make the entire WEKA
                training/predicting process more streamlined. 3 processes are
                automated: a) file type conversion, b) the WEKA run itself, and
                c) result reformatting. These 3 once tedious processes are now
                completely automatic.
            </p>

            <p>
                There are essentially 2 steps to the GenSET method: attribute
                collection and machine learning. This site only covers the
                machine learning part; attribute gathering must be done
                separately, as per the instructions and specifications
                <a href="{{ url_for('experiment') }}">here</a>.
            </p>
        </section>

        <section>
            <p>
                <img src="http://via.placeholder.com/300x300">
            </p>
        </section>

        <section style="text-align: center; height: 20em">
            <h3>
                What are you waiting for?
            </h3>

            <a href="{{ url_for('experiment') }}" class="button button-default">
                Try it out now!
            </a>
        </section>
    </div>
</div>
{% endblock %}